<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Главная страница</title>
    </head>

    <body>
        <h3>Всем привет!</h3>
        <a href="/info">Информация</a><br>
        <a href="/calc/5/7">Сумма 2-х чисел</a><br>
        <a href="/stud">Список студентов</a><br>
        <a href="/register">Регистрация</a><br>
        <a href="/auth">Регистрация</a>
    </body>

</html>
